.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 100px;
    border: none;
    outline: none;
    padding: 14px;
    background-color: var(--main-color);
    color: var(--black);
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}